        @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
        * {
            box-sizing: border-box;
        }
        
        .form-check-input {
            position: absolute;
            margin-top: 0.3rem;
            margin-left: 5rem;
        }