body {
    margin: "5.5em 1.5em";
    background-image: url("../Logo.png");
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #f48221;
    text-align: left;
    background-color: #f4843c;
    position: relative;
    left: -43px;
    border: 139px solid #f4843c;
}