body {
    margin: 238px;
    font-size: 1.2rem;
    font-weight: 100;
    line-height: 0.5;
    color: #212529;
    text-align: left;
    background-color: #f4843c;
    background-image: url("../assets/logotipo.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 5rem;
}