    @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
    * {
        box-sizing: border-box;
    }
    
    body {
        margin: 230px;
        font-size: 1.2rem;
        line-height: 0.5;
        color: #212529;
        text-align: left;
        background-color: #f48221;
        background-image: url("../assets/logotipo.png");
        background-repeat: no-repeat;
        background-position-x: 29rem;
        background-position-y: 5rem;
        font-weight: 300;
        font-family: 'Fira Sans', sans-serif;
        display: block;
    }
    
    label {
        display: block;
        display: inline-block;
        margin-bottom: 0.5rem;
        margin-left: 9rem;
    }
    
    .form-group {
        display: block;
        margin-bottom: 2rem;
    }
    
    h3,
    label {
        display: block;
        font-weight: 400;
        font-family: 'Fira Sans', sans-serif;
    }
    
    h3 {
        display: block;
        text-align: center;
        margin: 0;
        line-height: 1;
        padding-bottom: 20px;
    }