    @import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
    * {
        box-sizing: border-box;
    }
    
    label {
        display: block;
        display: inline-block;
        margin-bottom: 0.5rem;
        margin-left: 9rem;
    }
    
    .form-group {
        display: block;
        margin-bottom: 2rem;
    }
    
    h3,
    label {
        display: block;
        font-weight: 400;
        font-family: 'Fira Sans', sans-serif;
    }
    
    h3 {
        display: block;
        text-align: center;
        margin: 0;
        line-height: 1;
        padding-bottom: 20px;
    }

    .img-login{
        position: absolute;
        left: 542px;
        top: 182px;
    }